
html{
 	background: url(https://cdn.trendhunterstatic.com/thumbs/cool-backgrounds.jpeg);
	background-size: cover;
}

body{
	margin:20px 40px 20px 40px; 
	padding: 0; 
}

.title{
	text-align: center;
	color: red;
	font-size:200px;
	width: 1000px; 
	margin: 10px 10px 10px 10px; 
	padding: 10px 10px 10px 10px;
}
.buttons {
	display: block; 
	margin: 500px 50px 200px 50px;
	align-items: center;
 
}

.button{
	display: block;
	width: 700px;
	font-size: 40px; 
	border: 5px solid black; 
	margin: 10px 40px 10px 40px; 
	padding: 20px 20px 20px 20px;
	text-align: center; 
	background-color: red; 
	color: white;
}
.container {
	display: block;
	position: relative; 
	bottom: 450px;
	left: 900px;
	right: 40px;
	margin: 10px 50px 200px 50px;
	align-items: center;  
}
.content{
	position: relative; 
	bottom: 100px;
	left: 20px;
	right:20px;
	transition: all 0.1s;
	display: block;	
	width: 700px;
	font-size: 40px;
	border: 5px solid yellow;
	margin: 10px 40px 10px 40px;
	padding: 20px 20px 20px 20px;
	text-align: center:
	background-color: black; 
	color: white; 
}
