.buttons {
	display: flex; 
	flex: 1; 
	align-items: center; 
	justify-content: center; 
}

.button{
	font-size: 40px; 
	border: 5px solid black; 
	margin: 10px; 
	padding: 2px 2px 2px 2px;
	text-align: center; 
	background-color: red; 
	color: white;
}
